
.hor-slide-container{
    display: grid;
    justify-content: left;
    width: inherit;
     height: 700px;
    border: 1px solid rgb(177, 177, 177);

      overflow-y: auto;
      overflow-y: scroll;
      grid-template-columns: 33% 33% 33%  ;
      background-color: #cecece5c;

    }
    .hor-slide-container > div:hover {
      transform: scale(1.005);
      transition: 0.1s;
      box-shadow: #e0ab41a1 -2px 3px 32px 3px;
  }
    .card{
        height: 200px;
        padding: 0px 10px 10px 10px ;
        margin: 20px;
        border-color: black;
       box-shadow: 0px 5px 20px rgb(202, 202, 202);
       border-radius: 5px;
       display: inline-block;
    }
  
    .bar{
      height: 50px;
      font-size: 8mm;
      border: 10px;
  
    }
    .collab{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
     color: #988907c4;
     font-size: 25px;
    }
  
  
    .info{
      text-align: center;
    }
  button{
    font-size: 15px;
  }
  a{
    color: greenyellow
  }